.box {
  cursor: pointer;
  width: 800px;
  height: 400px;
  margin: 50px;
  box-shadow: 0px 10px 12px 2px rgb(163, 163, 163);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.text {
  width: 450px;
  height: 300px;
  overflow-y: scroll;
  -ms-overflow-style: none;
}

.text::-webkit-scrollbar {
  display: none;
}

.text > ul {
  list-style-type: none;
  padding: 0;
}

.text > ul > li {
  margin: 5px 0px;
}

.text > li:first-child {
  margin: 0px 0px 10px 0px;
}

.text ul li ul li:last-child {
  margin: 0px 0px 5px 0px;
}

.img {
  height: 300px;
  width: auto;
  margin: 0px 40px 0px 0px;
}

.p {
  width: 400px;
}
